* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background: #000000;
    color: white;
    font-family: 'outfit';
}


html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


img,
picture,
video,
iframe,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}